.loginBox {
  background-color: var(--branquinho);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 320px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Inputs input {
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 5%;
  border-radius: 6px;
  font-size: 0.75rem;
  width: 17.4375rem;
  background-color: #38CF564D;
  color: rgba(0, 0, 0, 0.35);
  font-family: 'Istok Web', sans-serif;
}

.loginBox button {
  padding: 12px;
  background-color: var(--verde-01);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginBox h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Istok Web', sans-serif;
  margin-bottom: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--allblack);
}

.loginBox button {
  font-family: 'Istok Web', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 100%;
  color: var(--branquinho);
  border-radius: 5px;
  width: 7.35rem;
  height: 2.325rem;

}

.linkSenha {
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 100%;
  color: var(--allblack);
  margin-left: 68%;
  margin-top: -8%;
  cursor: pointer;
}

.User,
.Senha {
  display: flex;
  align-items: center;
  position: relative;


}

.User img,
.Senha img {
  position: absolute;
  margin-left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.User input,
.Senha input {
  padding: 10px 10px 10px 45px
}

.User p,
.Senha p {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-85%);
  margin: 0px;
  color: var(--verde-01);
  font-size: 26.5px;
  pointer-events: none;
}

.Header {
   display: flex;
  gap: 5px;
  align-items: center;

}

.checkboxArea {
  display: flex;
  align-items: center;
  font-family: 'Istok Web', sans-serif;
  font-size: 0.75rem;
  color: var(--allblack);
  align-self: flex-start;
  margin-top: -25px;
  cursor: pointer; 
  gap: 8px; 
  appearance: none;
}

.checkboxArea input {
  width: 13px;
  height: 13px;
  cursor: pointer;
  accent-color: var(--verde-01); 
}

.Header img {
  pointer-events: none; 
  user-select: none; 
}

.Header h2 {
  pointer-events: none; 
  user-select: none; 
  margin: 0; 

}